<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h5>Update Your Post</h5>
      
    <form action="/update/<%=post._id%>" method="post">
        <textarea name="content" placeholder="You can write a post" cols="29" rows="7"><%= post.content %></textarea><br>
        <input type="submit" value="Update Your Post">
    </form>
</body>
</html>